# Database - ZMIEŃ 'your_username' na swój username PostgreSQL
DATABASE_URL="postgresql://your_username@localhost:5432/training_db?schema=public"

# Server
PORT=3001
SESSION_SECRET=super_secret_key_change_this_in_production_min_32_characters

# Strava API
STRAVA_CLIENT_ID=185513
STRAVA_CLIENT_SECRET=8771f8asdfsc86e1987df4cfds3247683
STRAVA_CALLBACK_URL=http://localhost:3001/api/auth/strava/callback
STRAVA_ACCESS_TOKEN=e969fasdf62d1dfca8be0270sdfdfg2b451aed
STRAVA_REFRESH_TOKEN=236a2fgdhc9298asdff6f9c1sdffbc4e11304bc55

GOOGLE_CLIENT_ID=1gdf97mqdfg8mhmsdf2432blpdjeik2fb8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSdfgdfgggaM2rte-tcKcK8c
GOOGLE_REDIRECT_URI=http://localhost:3001/api/auth/google/callback

# Frontend URL
CLIENT_URL=http://localhost:5173

# JWT configuration
JWT_SECRET=your_super_secret_jwt_key_change_in_production_min_32_chars
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=your_super_secret_refresh_key_change_in_production_min_32_chars
JWT_REFRESH_EXPIRES_IN=7d

#Email configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_app_specific_password
EMAIL_FROM=Training App <noreply@trainingapp.com>